body {
    background-color: rgba(26, 11, 46, 1);
}

/* universal selector */
* {
    padding: 0;
    margin: 0;
}
/* Hero/Banner section start */
.hero-section {
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    color: white;
    padding: 20px;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    color: gray;
    max-width: 600px;
    margin: 0 auto 30px;
}

.podcast-circle {
    width: 250px;
    height: 250px;
    background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
  ;
}
.container p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-01 {
    
}
.text-02{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    text-align: center;

}
.text-02 div h1 {
  max-width: 700px;
  text-align: center;
  color: #FFFFFF;

}
.text-02 div p{
  max-width: 700px;
  text-align: center;
  color: gray;
}


    .btn-primary {
    background-color: var(--primary-color);
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    display: inline-block;
}

.btn-outline {
    border: 2px solid white;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    display: inline-block;
}
