@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

/* card */
.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
/* Section background */
.stats-section{
  background: linear-gradient(135deg, #120022, #1c0033);
  padding: 60px 20px;
}
/* Grid container */
.stats-grid{
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  text-align: center;

}
.stats-card h2{
  color: #00FF88;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.stats-card p{
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}


/* 05card-section start */
.why-techwave {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}
.card{
  background:linear-gradient(145deg, #2b0b52, #1c0036);
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
}
.card:hover{
  transform: translateY(-8px);
}
.card img{
  width: 45px;
  margin-bottom: 15px;
}
.card h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.card p{
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}
.card{
  backdrop-filter: blur(10px);
}
/* card-child */
.card:nth-child(1) {
  grid-row: span 2;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.card:nth-child(2) {
  grid-column: span 2;
}
.card:nth-child(3) {
  grid-column: span 2;
}
.card:nth-child(4) {
  grid-column: span 2;
}
.card:nth-child(5) {
  grid-column: span 1;
}
